{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">Añadir Profesor</h1>
    
    <!-- Formulario -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-formulario btn-primary w-100">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Botón de regresar -->
    <div class="text-center mt-4">
        <a href="{% url 'profesores' %}" class="btn btn-secondary">Regresar</a>
    </div>
</div>
{% if error %}
    <div class="alert alert-danger text-center" role="alert">
        {{ error }}
    </div>
    {% endif %}
{% endblock %}
