{% extends 'base.html' %}
{%load static %}
{% block content %}


<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-md-10">
            <div class="card shadow p-4">
                
                <!--boton añadir-->
                <div class="row mb-3 d-flex justify-content-center">
                    <a class="btn btn-primary btn-formulario m-2 col-sm-12 col-md-5 col-lg-3" href="{% url 'crear_profe' %}">Añadir nuevo</a>
                    
                    <!--buscar profe, editar url!!!-->
                    <a class="btn btn-primary btn-formulario m-2 col-sm-12 col-md-5 col-lg-3" href="{% url 'profesores_search' %}">Buscar profesor</a>

                    <!--boton Ver todos-->
                    <a href="{% url 'profesores_view_all' %}" class="btn btn-primary btn-formulario m-2 col-sm-12 col-md-5 col-lg-3">Ver todos</a>
                    
                    <!--boton PDF-->
                    <a href="{% url 'generar_pdf_profesores' %}" class="btn btn-success btn-formulario m-2 col-sm-12 col-md-5 col-lg-3">Descargar  PDF de profesores</a>
                
                    <!--boton volver-->
                    <div class="row d-flex justify-content-center mt-3">
                        <a class="btn btn-primary btn-formulario m-2 col-sm-12 col-md-5 col-lg-3" href="{% url 'staff_dashboard' %}">Volver</a>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>




{% endblock %}