{% extends 'base.html' %}
{% block title %}Listar Archivos{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Archivos Subidos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Proyecto</th>
                <th>Capítulos</th>
                <th>Grupo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for archivo in archivos %}
            <tr>
                <td>{{ archivo.id }}</td>
                <td><a href="{{ archivo.Proyecto.url }}">Descargar Proyecto</a></td>
                <td><a href="{{ archivo.Capitulos.url }}">Descargar Capítulos</a></td>
                <td>{{ archivo.Grupo_est_id }}</td>
                <td>
                    {% if user_id in grupo.get_estudiantes %}
                        {% if archivo.Grupo_est_id == grupo.id %}
                            <a href="{% url 'actualizar_archivo' archivo.id %}" class="btn btn-warning btn-sm">Actualizar</a>
                            <a href="{% url 'eliminar_archivo' archivo.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        {% endif %}
                    {% else %}
                        Ver solo archivos
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No hay archivos subidos.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Botón para Volver -->
    <button class="btn btn-secondary" onclick="history.back()">Volver</button>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}
