{% extends 'base.html' %}
{% block title %}Subir Archivo{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Subir Archivo</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Subir</button>
    </form>
</div>
<!-- Botón para Volver -->
<button class="btn btn-secondary" onclick="history.back()">Volver</button>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endblock %}
